/*fonte*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

/*Config de forma geral -  e font*/
*{
    /*colocar margin e padding tira a numeração do OL*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

boddy{
    background: var(--branco) ;
    /*desativar os textos irem para baixo ou bagui do scroll - leitura ficar do jeito q eu vejo - no qiadrado*/
    overflow: hidden;
    
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    /*traços em volta das letras*/
    border: 1px solid var(--f7);
    /*sombra só em baixo*/
    box-shadow: -7px -7px 17px var(--ff),
                7px 7px 17px rgba(70, 70, 70, 0.15);
}

/*WebKit + Coding*/
.icon{
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
    color: var(--77);
    padding: 10px 15px;
    margin: 5px 5px 5px 5px;
    border: 1px solid var(--f7);
    border-radius: 10px;
    box-shadow: -7px -7px 17px var(--ff),
                7px 7px 17px rgba(70, 70, 70, 0.15);
}

/*Coding*/
.icon b{
    color: var(--1e);

}


/*vai mexer em uma OL, tem q ter 3 propriedades/
/*ficar um do aldo do outro*/
ol {
    display: flex;
    margin: auto 0;
    /*desativar listagem*/
    list-style: none;
    
}


ol li{
    margin: 0 10px;
}

ol li a{
    font-size: 20px;
    color: var(--77);
    text-transform: capitalize; /*faz com q os textos fiquem em maiusculo e minusculo*/
    text-decoration: none;
    letter-spacing: 1px; /*espaço em branco entre as letras*/
    padding: 8px 12px;
    border: 1px solid var(--f7);
    border-radius: 10px;
    box-shadow: -7px -7px 17px var(--ff),
                7px 7px 17px rgba(70, 70, 70, 0.15);
}

ol li:hover a{
    color: var(--ff);
    background: var(--1e);
}


input[type="checkbox"]{
    display: none;
}

/*referencia ao label - ao xzinho e tres listras*/
.bar{
    position: relative;
    display: block; /*fz com q n quebre a linha*/
}

.bar span{
    color: var(--1e);

    /*cenraliza a imagens na box*/
    line-height: 65px; 

    /*altura e largura da box*/
    height: 65px;
    width: 65px;

    /*deixar os itens com grossura e para o centro n para a ponta*/
    font-size: 35px;
    text-align: center;

    /*box*/
    border: 1px solid var(--f7);
    border-radius: 10px;
    box-shadow: -7px -7px 17px var(--ff),
                7px 7px 17px rgba(70, 70, 70, 0.15);
}
/*colocar alterações somente quando tiver nessa proporção*/
@media screen and (max-width: 1100px){
    nav{
        display: block;
        padding: 0;
    }

    .icon{
        display: inline-block; /*vai quebrar a linha, mas continua em linha*/
    }

    ol{
        display: block; /*vai deixar os itens um em baixo do outro*/
        width: 100%;
    }

    ol li{
        position: relative;
        margin: 40px 0 ;
        display: none ; /*some os LI dos OL*/
    }

    ol li a{
        width: 90%;
        text-align: center;
        padding: 30px;
        font-size: 28px;
        display: block;
        border-radius: 30px;
        left: 50%;
        transform: translateX(-50%);/* mova-me para a esquerda pela metade da minha largura calculada*/
        position: relative; /*vai voltar para o centro*/
    }

    /*Xzinho e tres risquinhos*/
    .bar {
        display: block;
        position: absolute;/*posição aonde eu posso colocar o item aonde quiser*/
        top: 11px;
        right: 50px;
        cursor: pointer;
    }

    /*na hora q clicar vai sumir o TIMES, vai ficar soh o BARS*/
    .bar #times{
        display: none;
    }

    /*colocar para aparecer a OL, so quando clicado*/
    #check:checked ~ nav ol li{
        display: block;
        
    }




/**/
:root {
    /*cores*/
    --branco: #eee;
    --f7: #f7f7f7;
    --77: #778ba5;
    --1e: #1e90ff;
    --fe: #fe28a2;
    --ff: #fff